<style>
	form {
		font-family: inherit;
		font-size: 14px;
	}
</style>
<div class="row well well-sm">
	<h1><i class="fa fa-user"></i>  Alta de Clientes</h1>
</div>
<div class="row">
	<div class="panel panel-danger">
	  	<div class="panel-heading"> Crea un nuevo cliente</div>
	  	<div class="panel-body">
	    	<form action="" ng-submit="cliente.saveCustomer()">
	    		<div class="row">
			    	<div class="col-sm-6">
			    		<label class="control-label" for="email">Nombre:</label>
				      	<input type="text" class="form-control" id="email" placeholder="Ingresa tu nombre(s)" ng-model="cliente.datos.nombres">
			    	</div>
			    	<div class="col-sm-6">
			    		<label class="control-label" for="email">Apellido Paterno:</label>
				      	<input type="text" class="form-control" id="email" placeholder="Ingresa tu apellido paterno" ng-model="cliente.datos.apellido_paterno">
			    	</div>
	    		</div>
	    		<br>
			  	<div class="row">
		  			<div class="col-sm-6">
			    		<label class="control-label" for="email">Apellido Materno:</label>
				      	<input type="text" class="form-control" id="email" placeholder="Ingresa tu apellido materno" ng-model="cliente.datos.apellido_materno">
				    </div>
		  			<div class="col-sm-6">
			    		<label class="control-label" for="email">Fecha de Nacimiento:</label>
				      	<input type="date" class="form-control" id="email" placeholder="Enter email" ng-model="cliente.datos.fecha_nacimiento">
				    </div>
			  	</div>
			  	<br>
    			<button class="btn btn-success pull-right" type="submit">
    				<span class="fa fa-save"></span> Guardar Cliente
				</button>
	    	</form>
	  	</div>
	</div>

</div>