<div class="row well well-sm">
	<h1><i class="fa fa-users"></i>  Catalgo de Clientes</h1>
</div>
<div class="row">
	<div class="row">
		<div class="col-xs-12">
			<div class="input-group col-xs-12 col-md-6 col-lg-4 col-md-offset-6 col-lg-offset-8">
		  		<input type="text" class="form-control" placeholder="filtro de busqueda para clientes" aria-describedby="basic-addon2" ng-model="buscar">
		  		<span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="clientes in cliente.datos | filter:buscar">
			<div class="thumbnail">
				<img src="assets/descarga.jpg" alt="...">
				<div class="caption">
					<h3>{{ clientes.nombres + ' ' + clientes.apellido_paterno + ' ' + clientes.apellido_materno }}</h3>
					<p><b>Fecha de Nacimiento:</b> {{clientes.fecha_nacimiento}}</p>
					<p>
						<a ng-click="cliente.editar( cliente.id )" class="btn btn-primary" role="button">Editar <i class="fa fa-pencil"></i></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>