<style>
	main {
		margin-top: 50px;
	}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
		  	<a class="navbar-brand" ng-href="">
			    <img alt="Brand" src="assets/bioxor.png" title="bioxor">
			</a>
			<ul class="nav navbar-nav">
				<li><a ui-sref="inicio">Home</a></li>
				<li class="dropdown">
					<a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Clientes
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
			            <li><a ui-sref="cliente_create">Crear Cliente</a></li>
			            <li><a ui-sref="cliente_list">Ver Clientes</a></li>
		          	</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<main ui-view class="main container">
	
</main>